{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Jonathan Schwadron</title>

  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "css/landing-page.css" %}" rel="stylesheet">

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand topnav" href="#">jonathan schwadron</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#codes">codes</a>
          </li>
          <li>
            <a href="#resume">resume</a>
          </li>
          <li>
            <a href="#contact">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <a name="top"></a>
  <div class="intro-header">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>Jonathan Schwadron</h1>
            <h3>Full Stack Engineer</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">

              <li>
                <a href="https://github.com/jonschwadron" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/jonschwadron" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a  name="codes"></a>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-sm-4">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">codes.</h2>
        </div>
        <div class="col-lg-9 col-lg-offset-2 col-sm-8">
          <p>
            <a href="http://ponder.duckdns.org" target="_blank"><h3>Ponder</h3></a>
            A webapp where you post your thoughts.
            <br>[ec2] [nginx] [gunicorn] [django] [angularjs] [css] [html5] [postgresql]
          </p>
          <p>
            <a href="https://www.replicalabs.com/rendor" target="_blank"><h3>Rendor</h3></a>
            A website that I manage with the Replica Labs team.
            <br>[ec2] [s3] [nginx] [django] [javascript] [css] [html5]
          </p>
          <p>
            <a href="https://github.com/jonschwadron/DjangoRatingSystem" target="_blank"><h3>5-star Rating System</h3></a>
            A simple Django rating system that rates each object without refreshing the page.
            <br>[django] [javascript] [ajax] [css] [html5]
          </p>
          <p>
            <a href="https://github.com/jonschwadron/fingr" target="_blank"><h3>fingr</h3></a>
            Text to fingerspelling translator for Android.
            <br>[android] [java]
          </p>
          <p>
            <a href="https://github.com/jonschwadron/FSCVirtualID" target="_blank"><h3>FSC Virtual ID</h3></a>
            College Virtual ID/Wallet for Android
            <br>[android] [json] [apache] [php] [mysql]
          </p>
          <p>
            <a href="https://github.com/jonschwadron/replicalabs_setup" target="_blank"><h3>replicalabs_setup</h3></a>
            Replica Lab's Opscode Chef configuration management system
            <br>[ruby]
          </p>
        </div>
      </div>
    </div>
  </div>

  <a  name="resume"></a>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-sm-4">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">resume.</h2>
        </div>
        <div class="col-lg-9 col-lg-offset-2 col-sm-8">
          <br>
          <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td>
                  <table border="0" cellspacing="0" cellpadding="0" width="100%">
                    <tbody>
                      <tr>
                        <td width="100%" valign="top">
                          <p>
                            <h4><strong>Programming Languages and Frameworks</strong></h4>
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td width="100%" valign="top">
                          <p>
                            Python, Django, JavaScript, AngularJS, CSS, Bootstrap, HTML5
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table border="0" cellspacing="0" cellpadding="0" width="100%">
                    <tbody>
                      <tr>
                        <td width="100%" colspan="2" valign="top">
                          <p>
                            <h4><strong>Education</strong></h4>
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td width="80%" valign="top">
                          <p>
                            <strong>Farmingdale State College</strong>
                            , Farmingdale, NY<strong> </strong>
                            <br>Bachelor of Science in Computer Programming &amp; Information Systems
                            <br>Concentration: Programming
                          </p>
                        </td>
                        <td width="20%" valign="top">
                          <p>
                            May 2014
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td width="80%" valign="top">
                          <p>
                            <strong>Rochester Institute of Technology</strong>
                            , Rochester, NY<strong></strong>
                            <br>Associate of Applied Science in Applied Computer Technology
                            <br>Concentration: Network and Security
                          </p>
                        </td>
                        <td width="20%" valign="top">
                          <p>
                            August 2010
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table border="0" cellspacing="0" cellpadding="0" width="100%">
                    <tbody>
                      <tr>
                        <td width="100%" colspan="2" valign="top">
                          <p>
                            <h4><strong>Related Experience</strong><h4>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td width="80%" valign="top">
                            <p>
                              <strong>Software Engineer, Replica Labs</strong>
                              , Boulder, CO
                              <li>Web development; Django, HTML5, CSS, and JavaScript stack</li>
                              <li>Designed FAQ page using Bootstrap</li>
                              <li>Implemented rating system using JS/AJAX</li>
                              <li>Minecraft development; convert 3D models into voxel and output as schematic</li>
                              <li>Rewrote Bash scripts into Chef/Ansible for application deployment</li>
                              <li>Tested Rendor mobile application; both Android and iOS platform.</li>
                              <li>Team collaboration via Slack, Freedcamp, and Gitlab</li>
                            </p>
                          </td>
                          <td width="20%" valign="top">
                            <p>
                              October 2014 – Present
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td width="80%" valign="top">
                            <p>
                              <strong>Software Developer, JBM Technologies</strong>
                              , Farmingdale, NY<strong></strong>
                              <li>Senior Project experience with a team of three.</li>
                              <li>Developed Android app that allows user interactivity to scan QR code, check current balance, transaction history,
                                contacts, and dining hours.</li>
                                <li>Performed presentation for each phases of the prototype; providing analysis, physical data flow diagram, screenshots,
                                  user surveys, and video demonstration</li>
                                </p>
                              </td>
                              <td width="20%" valign="top">
                                <p>
                                  January – May 2014
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

  <a  name="contact"></a>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-sm-4">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">contact.</h2>
        </div>
        <div class="col-lg-9 col-lg-offset-2 col-sm-8">
          <br>email: jonschwadron@gmail.com
	  <br>phone: 845 345 8658
          <br>text: 845 667 2092
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="copyright text-muted small">Copyright &copy; Jonathan Schwadron 2015. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>

</body>
</html>
