{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CULTUREiQ</title>

  {% include 'cultureiq-web/stylesheets.html' %}

  <style>
  .bgimg { padding-top: 50px;
           padding-bottom: 700px;
           text-align: center;
           background: url('{% static 'img/culture-iq/main_hero_bw.png' %}');
           background-repeat: no-repeat;
           background-size: 100%; }
  .navbar-buffer { margin:0px; }
  .top-buffer { margin-top:100px; }
  .top-buffer2 { margin-top:30px; }
  .top-buffer3 { margin-top:20px; }
  .title-buffer { margin:30px; }
  .name-buffer { margin:20px; font-weight:bold; text-transform: uppercase;}
  .container-topmargin{margin-top:100px; }
  .container-buffer{padding:30px; }
  .col-centered{float: none;margin: 0 auto; }
  .uppercase { text-transform: uppercase; }
  h1 {font-family:'Roboto Slab';font-size:350%;font-weight:lighter;line-height:120%; }
  h2 {font-family:'Roboto Slab';font-size:230%;font-weight:300;line-height:120%; }
  h3 {font-family: 'Open Sans', Helvetica, sans-serif;font-size:170%;font-weight:lighter;line-height:120%; }
  h4 {font-family: 'Open Sans', Helvetica, sans-serif;font-size:135%;font-weight:lighter;line-height:120%; }
  h5 {font-family: 'Open Sans', Helvetica, sans-serif;font-size:110%;font-weight:light;line-height:100%;margin: 0; }
  </style>

</head>
<body>

  {% include 'cultureiq-web/nav.html' %}

  <section style="background-color: white;">
      <div class="row nomargin bgimg">
        <div class="col-xs-12 text-center ">
          <h2>
            Culture Management Software
          </h2>
          <h4>
            For Building High-Performance Companies
          </h4>
          <h4>
            <a href="#getstarted"
            class="uppercase"
            style="font-size:15px;
                   background-color:#87bf92;
                   color:#fff;
                   font-weight:400;
                   height:30px;
                   padding:8px;
                   padding-left:40px;
                   padding-right:40px;
                   border-radius:4px;">
              Learn More
            </a>
          </h4>
        </div>
      </div>
      <div class="container">
      <div class="row top-buffer">
        <div class="col-xs-12 text-center">
          <h2>
            Measure, understand, and strengthen your company culture.
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center ">
          <h4>
            [column][column][column]
          </h4>
        </div>

        <!-- <div class="row top-buffer3">
          <div class="col-xs-8 col-centered ">
            <h3><p>
              test
            </p></h3>
          </div>
        </div>

        <div class="row top-buffer3">
          <div class="col-xs-8 col-centered ">
            <h3><p>
              test
            </p></h3>
          </div>
        </div>

        <div class="row top-buffer3">
          <div class="col-xs-8 col-centered ">
            <h3><p>
              test
            </p></h3>
          </div>
        </div> -->
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h2>
              Measure, understand, and strengthen your company culture.
            </h2>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 text-center ">
            <h4>
              [column][column][column]
            </h4>
          </div>
        </div>
      </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Our Values</h2>
            <br>
            <h3>Treat ourselves and our customers with respect</h3>
            <h3>Be creative and resourceful</h3>
            <h3>Great people over great resumes</h3>
            <h3>Understand metrics, but make human decisions</h3>
            <h3>Be open to change and maintain flexibility</h3>
            <h3>Celebrate and enjoy the journey</h3>
          </h2>
        </div>
      </div>
    </div>
  </section>

    <section class="bg-primary" style="background-color:#fff">
      <div class="container">

        <div class="row row-centered">
          <div class="col-xs-12 text-center" style="color:#000"><h2 class="uppercase">Measure</h2></div>
        </div>

        <div class="row top-buffer" >
          <div class="col-xs-4">
            <div class="row">
              <p class="text-center"><img style="height:160px;" src="#"></p>
            </div>
            <div class="row name-buffer">
              <p class="text-center" style="color:#000">testm</p>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="row">
              <p class="text-center"><img style="height:160px;" src="#"></p>
            </div>
            <div class="row name-buffer">
              <p class="text-center" style="color:#000">test</p>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="row">
              <p class="text-center"><img style="height:160px;" src="#"></p>
            </div>
            <div class="row name-buffer">
                <p class="text-center" style="color:#000">test</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">

        <div class="row" style="margin-bottom:20px;">
            <img class="pull-left" src="{% static 'img/culture-iq/cultureiq_logo.png' %}" style="height:30px;margin-top:50px;padding-left: 15px;">
        </div>

        <div class="row pn" style="color: #808080 !important;">
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-8" style="border-bottom: 1px #c7cdd0 dashed; margin-left:15px;padding-left:0px; padding-bottom: 7px;padding-top:8px;">
                <a class="footer-link" href="#">Home</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-8" style="border-bottom: 1px #c7cdd0 dashed; margin-left:15px;padding-left:0px; padding-bottom: 7px;padding-top:8px;">
                <a class="footer-link" href="#">About</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-8" style="padding-left:0px; margin-left:15px;padding-bottom:0;margin-left:15px;7px;padding-top:8px;">
                <a class="footer-link" href="#">Blog</a>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-8" style="border-bottom: 1px #c7cdd0 dashed;margin-left:15px; padding-left:0px; padding-bottom: 7px;padding-top:8px;">
                <a class="footer-link" href="#">FAQ</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-8" style="border-bottom: 1px #c7cdd0 dashed; margin-left:15px;padding-left:0px; padding-bottom: 7px;padding-top:8px;">
                <a class="footer-link" href="#">Press</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-8" style="padding-left:0px; margin-left:15px;padding-bottom:0;margin-left:15px; 7px;padding-top:8px;">
                <a href="#">Contact</a>
              </div>
            </div>
          </div>
            <div class="col-xs-4">

            </div>
            <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-10" style="border-bottom: 1px #c7cdd0 dashed; margin-left:15px;padding-left:0px; padding-bottom: 7px;padding-top:8px;">
                <a class="footer-link" href='mailto:hello@cultureiq.com'>hello@cultureIQ.com</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-10" style="border-bottom: 1px #c7cdd0 dashed; margin-left:15px;padding-left:0px; padding-bottom: 7px;padding-top:8px;">
                <a class="footer-link" href="tel://212-755-8633">(212) 755 8633</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-10" style="padding-left:0px; margin-left:15px;padding-bottom: 7px;padding-top:8px;">
                <a class="footer-link" href="https://twitter.com/CultureIQ" target="_blank"><img style="width:20px;" src="{% static 'img/culture-iq/twitter.svg' %}"></a>
                <a style="margin-left:10px;" class="footer-link" href="https://www.linkedin.com/company/cultureiq" target="_blank"><img style="width:20px;" src="{% static 'img/culture-iq/linkedin.svg' %}"></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-xs-12" style="font-size:12px;margin-top:40px;">
            Not-A-Copyright 2015 CultureIQ by Jon Schwadron.  All Rights Reserved.
          </div>
        </div>
      </div>
    </section>

    {% include 'cultureiq-web/javascripts.html' %}

  </body>
  </html>
