<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>Ossum.</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static "personal/css/app.css" %}">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
</head>
<body>
  <section class="moreshit" id="moreshit">
    <div>
      <p>shit.</p>
    </div>
  </section>
  <section class="intro" id="intro">
    <h1>Ossum.</h1>
    <p>by Jonathan Schwadron</p>
    <p>
      September 19, 2015
    </p>
    <p>
      This book is under construction.
    </p>
  </section>

  <section class="choose-class" id="choose-class">
    <div class="background-column">
      <div class="rowbox">

        <div class="right-sub-column" id="box0">
          <i class="fa fa-heart" id="heart0"></i>
          <p>Pikachu.</p>
          <img src="{% static "personal/img/pikachu__.gif" %}" id="pikachu">
          <img src="{% static "personal/img/pikachu_.gif" %}" id="pikachu2">
        </div>

        <div class="right-sub-column" id="box1">
          <i class="fa fa-heart" id="heart1"></i>
          <p>Charmander.</p>
          <img src="{% static "personal/img/charmander__.gif" %}" id="charmander">
          <img src="{% static "personal/img/charmander_.gif" %}" id="charmander2">
        </div>

        <div class="right-sub-column" id="box2">
          <i class="fa fa-heart" id="heart2"></i>
          <p>Bulbasaur.</p>
          <img src="{% static "personal/img/bulbasaur__.gif" %}" id="bulbasaur">
          <img src="{% static "personal/img/bulbasaur_.gif" %}" id="bulbasaur2">
        </div>

        <div class="right-sub-column" id="box3">
          <i class="fa fa-heart" id="heart3"></i>
          <p>Squirtle.</p>
          <img src="{% static "personal/img/squirtle__.gif" %}" id="squirtle">
          <img src="{% static "personal/img/squirtle_.gif" %}" id="squirtle2">
      </div>
    </div>
  </section>

  <section class="begin-story" id="begin-story">
    <h1>Begin Story.</h1>
    <br>
    <div class="column">
    </div>
  </section>

  <section class="story-page-1" id="story-page-1">
    <h1>Page 1.</h1>
  </section>

  <section class="story-page-2" id="story-page-2">
    <h1>Page 2.</h1>
  </section>

  <section class="story-page-3" id="story-page-3">
    <h1>Page 3.</h1>
  </section>

  <section class="end-story" id="end-story">
    <h1>End Story.</h1>
  </section>

  <script src="{% static "personal/js/app.js" %}"></script>

</body>
</html>
