{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Bootstrap Metro Dashboard by Jon Schwadron for ARM demo</title>
	<meta name="description" content="Bootstrap Metro Dashboard">
	<meta name="author" content="Jon Schwadron">
	<meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<!-- end: Meta -->

	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	{% include 'stylesheets.html' %}
	<!-- end: CSS -->

	<!-- start: Favicon -->
	{% include 'images.html' %}
	<!-- end: Favicon -->




</head>

<body>
		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="index.html">jonschwadron.ui</a>
			</div>
		</div>
	</div>
	<!-- start: Header -->

		<div class="container-fluid-full">
		<div class="row-fluid">

			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="{% url 'index' %}"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Overview</span></a></li>
						<li><a href="{% url 'form' %}"><i class="icon-tasks"></i><span class="hidden-tablet"> Surveys</span></a></li>
						<li><a href="{% url 'chart' %}"><i class="icon-tasks"></i><span class="hidden-tablet"> Analytics</span></a></li>
						<li><a href="{% url 'widgets' %}"><i class="icon-eye-open"></i><span class="hidden-tablet"> Initiatives</span></a></li>
						<li><a href="{% url 'help' %}"><i class="icon-dashboard"></i><span class="hidden-tablet"> Help</span></a></li>
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->

			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>

			<!-- start: Content -->
			<div id="content" class="span10">


			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.html">Home</a>
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">Tasks</a></li>
			</ul>

			<div class="row-fluid">

				<div class="span7">
					<h1>Tasks</h1>

					<div class="priority high"><span>high priority</span></div>

					<div class="task high">
						<div class="desc">
							<div class="title">Lorem Ipsum</div>
							<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
						</div>
						<div class="time">
							<div class="date">Jun 1, 2012</div>
							<div> 1 day</div>
						</div>
					</div>
					<div class="task high">
						<div class="desc">
							<div class="title">Lorem Ipsum</div>
							<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
						</div>
						<div class="time">
							<div class="date">Jun 1, 2012</div>
							<div>1 day</div>
						</div>
					</div>
					<div class="task high">
						<div class="desc">
							<div class="title">Lorem Ipsum</div>
							<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
						</div>
						<div class="time">
							<div class="date">Jun 1, 2012</div>
							<div> 1 day</div>
						</div>
					</div>
					<div class="task high last">
						<div class="desc">
							<div class="title">Lorem Ipsum</div>
							<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
						</div>
						<div class="time">
							<div class="date">Jun 1, 2012</div>
							<div>1 day</div>
						</div>
					</div>

					<div class="priority medium"><span>medium priority</span></div>

					<div class="task medium">
						<div class="desc">
							<div class="title">Lorem Ipsum</div>
							<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
						</div>
						<div class="time">
							<div class="date">Jun 1, 2012</div>
							<div> 1 day</div>
						</div>
					</div>
					<div class="task medium last">
						<div class="desc">
							<div class="title">Lorem Ipsum</div>
							<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
						</div>
						<div class="time">
							<div class="date">Jun 1, 2012</div>
							<div> 1 day</div>
						</div>
					</div>

					<div class="priority low"><span>low priority</span></div>

					<div class="task low">
						<div class="desc">
							<div class="title">Lorem Ipsum</div>
							<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
						</div>
						<div class="time">
							<div class="date">Jun 1, 2012</div>
							<div> 1 day</div>
						</div>
					</div>
					<div class="task low">
						<div class="desc">
							<div class="title">Lorem Ipsum</div>
							<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
						</div>
						<div class="time">
							<div class="date">Jun 1, 2012</div>
							<div> 1 day</div>
						</div>
					</div>
					<div class="task low">
						<div class="desc">
							<div class="title">Lorem Ipsum</div>
							<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
						</div>
						<div class="time">
							<div class="date">Jun 1, 2012</div>
							<div> 1 day</div>
						</div>
					</div>
					<div class="task low">
						<div class="desc">
							<div class="title">Lorem Ipsum</div>
							<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
						</div>
						<div class="time">
							<div class="date">Jun 1, 2012</div>
							<div> 1 day</div>
						</div>
					</div>
					<div class="task low">
						<div class="desc">
							<div class="title">Lorem Ipsum</div>
							<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
						</div>
						<div class="time">
							<div class="date">Jun 1, 2012</div>
							<div> 1 day</div>
						</div>
					</div>
					<div class="task low">
						<div class="desc">
							<div class="title">Lorem Ipsum</div>
							<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
						</div>
						<div class="time">
							<div class="date">Jun 1, 2012</div>
							<div> 1 day</div>
						</div>
					</div>

					<div class="clearfix"></div>

				</div>

				<div class="span5 noMarginLeft">

					<div class="dark">

					<h1>Timeline</h1>

					<div class="timeline">

					    <div class="timeslot">

							<div class="task">
					    		<span>
									<span class="type">appointment</span>
									<span class="details">
										Jon Schwadron at Bootstrap Metro Dashboard HQ
									</span>
									<span>
										remaining time
										<span class="remaining">
											3h 38m 15s
										</span>
									</span>
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-map-marker"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>

					    </div>

						<div class="clearfix"></div>

						<div class="timeslot alt">

							<div class="task">
					    		<span>
									<span class="type">phone call</span>
									<span class="details">
										Jon Schwadron
									</span>
									<span>
										remaining time
										<span class="remaining">
											3h 38m 15s
										</span>
									</span>
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-phone"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>

					    </div>

						<div class="timeslot">

							<div class="task">
					    		<span>
									<span class="type">mail</span>
									<span class="details">
										Jon Schwadron
									</span>
									<span>
										remaining time
										<span class="remaining">
											3h 38m 15s
										</span>
									</span>
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-envelope"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>

					    </div>

						<div class="timeslot alt">

							<div class="task">
					    		<span>
									<span class="type">deadline</span>
									<span class="details">
										Fixed bugs
									</span>
									<span>
										remaining time
										<span class="remaining">
											3h 38m 15s
										</span>
									</span>
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-calendar"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>

					    </div>

						<div class="timeslot">

							<div class="task">
					    		<span>
									<span class="type">appointment</span>
									<span class="details">
										Jon Schwadron at Bootstrap Metro Dashboard HQ
									</span>
									<span>
										remaining time
										<span class="remaining">
											3h 38m 15s
										</span>
									</span>
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-map-marker"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>

					    </div>

						<div class="clearfix"></div>

						<div class="timeslot alt">

							<div class="task">
					    		<span>
									<span class="type">skype call</span>
									<span class="details">
										Jon Schwadron
									</span>
									<span>
										remaining time
										<span class="remaining">
											3h 38m 15s
										</span>
									</span>
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-phone"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>

					    </div>

						<div class="timeslot">

							<div class="task">
					    		<span>
									<span class="type">mail</span>
									<span class="details">
										Jon Schwadron
									</span>
									<span>
										remaining time
										<span class="remaining">
											3h 38m 15s
										</span>
									</span>
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-envelope"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>

					    </div>

						<div class="timeslot alt">

							<div class="task">
					    		<span>
									<span class="type">project deadline</span>
									<span class="details">
										Fixed bugs
									</span>
									<span>
										remaining time
										<span class="remaining">
											3h 38m 15s
										</span>
									</span>
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-calendar"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>

					    </div>

						<div class="timeslot">

							<div class="task">
					    		<span>
									<span class="type">mail</span>
									<span class="details">
										Jon Schwadron
									</span>
									<span>
										remaining time
										<span class="remaining">
											3h 38m 15s
										</span>
									</span>
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-envelope"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>

					    </div>

					</div>
				</div>

				</div>

			</div>



	</div><!--/.fluid-container-->

			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->

	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Settings</h3>
		</div>
		<div class="modal-body">
			<p>Here settings can be configured...</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" class="btn btn-primary">Save changes</a>
		</div>
	</div>

	<div class="clearfix"></div>

	<footer>

		<p>
			<span style="text-align:left;float:left">&copy; 2013 <a href="http://jiji262.github.io/Bootstrap_Metro_Dashboard/" alt="Bootstrap_Metro_Dashboard">Bootstrap Metro Dashboard</a></span>

		</p>

	</footer>

	<!-- start: JavaScript-->
	{% include 'javascripts.html' %}
	<!-- end: JavaScript-->

</body>
</html>
